.leia-mais {
    padding: .4em;
    margin: .8em;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 1.5em;
    border-bottom: .05em solid #ccc;
    margin-bottom: 1em;
}
